<!Doctype html>
<html>
<head>
	<title>About code for Palestine</title>
	<link rel ="stylesheet" type="text/css" href="../static/about.css">
</head>
<body>
	{% extends "home.html" %}
	{% block body %}	

		<p>Code For Palestine is a program to teach programming languages and improve students daily skills by Design thinking classes and lots of other coursescand activities
		Code for Palestine Program, launched in 2015, focuses on distinguished students, aged between 14 -15 years old from Palestinian secondary schools. The goal is to get high school students interested in computer science and exposed to creative problem solving skills.
		Each group of selected students study at the program for a period of three years, the program includes two-week summer camp and two semesters over each year. Students are selected based on their IQ and English skills and they are taught by a wide pool of Stanford University students. There are 22 (9 from Gaza) students finalized the program; and currently they are finalizing their high school studies and the foundation is providing assistance to enable them to be accepted by top intentional universities to study computer science. The program intensive training on Python coding, a total of 74 students are currently involved, and trained by local and international instructors.
		Our students receive exceptional training from passionate teachers at a very early age by helping students tackle any barriers he/she might face and creates a culture of innovation and creativity</p>
	{%endblock%}


</body>
</html>