<!Doctype html >
<html>
<head>
	<title>Applying</title>
	<link rel="stylesheet" type="text/css" href="../static/apply.css">
</head>
		<h1>How To join Code For Palestine</h1>
<body>
	{% extends "home.html" %}
	{% block body %}	
		<h1>How To join Code For Palestine</h1>
		<p>If you are in age 14-15 and you want join"Code For Palestine", first of all you have to fill the application. Then if you are accepted there's an exam for logic and your English language.

		After that if you are accepted again you'll make an interview, they will ask you some questions and you have to answer them, then they'll call you and tell you that you are accepted andtell you the rules of the camp and your parents have to sign it.
		And after all of that you'll end </p>
	{% endblock %}
</body>
</html>