<html>
<head>
	<meta charset="utf-8"/>
	<title>Code For Palestine</title>
</head>
<body>

	<link rel="stylesheet" type="text/css" href="../static/home.css">
	<header id="main-header">
		<h1>Welcome to Code For Palestine Website</h1>
		 </header>
		<nav id="navBar">
			<ul> 

				<li><a href="/"> Home </a></li>

				<li><a href="/about"> About Code For Palestine </a></li>

				<li><a href="/members"> Members </a></li>

				<li><a href="/experiences"> Experiences </a> </li>


				<li><a href="/graduates"> Graduates </a> </li>


				<li><a href="/contactus"> Contact Us </a> </li>


				<li><a href="/howtoapply"> How To Apply </a> </li>
			

		    </ul>

		 
		</nav>
		<img  src="http://fm.jawwal.ps/Styles/JawwalBranding/logo.png">
		<img src="http://www.paltelfoundation.ps/uploads/logo.png">
	{% block body %}

	{% endblock%}


</body>
</html>